#brandname {
  font-size: 50px;
  font-weight: 700;
  color: #354857;
  letter-spacing: 5px;
  margin-left: 2vw;
}
.myNavbar {
  height: 15vh;
  background-color: white !important;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
}

#navbarScroll {
  /* border: 1px solid orange; */
  padding: 0 5vw;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
}
.navbar-navlinks {
  /* border: 1px solid green; */
  /* color: black !important ; */
  margin: 0 10px;
  padding: 0 5px;
  display: flex;
  align-items: center;
}
/* .navcatlist {
    border: 1px solid pink;
  } */
.navsearchform {
  display: flex;
  align-items: center;
  margin-left: 40px;
  /* border: 1px solid green; */
}

.navbtn {
  color: #354857;
  border: 1px solid #354857;
}
.navbtn:hover {
  background-color: #354857;
  border: 1px solid #354857;
}

.navbar-icons {
  /* border: 1px solid red; */
  display: flex;
  margin-left: 40px;
}

.icons {
  padding: 5px;
  margin: 0 8px;
  font-size: 20px;
  color: #354857;
  transition: transform 0.2s;
}
.icons:hover {
  transform: scale(1.5);
  color: #25333d;
}
.navicclog{
  display: flex;
  align-items: center;
  justify-content: center;
}